{% extends "base.html" %}

{% block title %}
<style>
    td, th {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<title>Tasks - Home</title>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <p style="text-align: center;">Hi {{ user }}, you're logged in!</p>
        <table style="margin-left: auto; margin-right: auto">
            <tr><th>Status</th><th>Link Name</th><th>Link URL</th></tr>
        {% for task in tasks %}
            <tr><td><a href="#">Incomplete</a></td><td>{{ task.name }}</td><td>{{ task.url }}</td></p>
        {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">No content found. Try logging in.</p>
    {% endif %}
{% endblock %}