{% extends "base.html" %}

{% block title %}
<style>
    td, th {
        padding-left: 10px;
        padding-right: 10px;
    }
    button {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>
<script type="text/javascript">
    function fmtLink(lnk) {
		return "<a href="+lnk+">"+lnk+"</a>"
	}
</script>
<title>Tasks - Home</title>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <p style="text-align: center;">Hi {{ user }}, you're logged in!</p>
        <table style="margin-left: auto; margin-right: auto">
            <tr><th>Status</th><th>Minutes</th><th>Link Name</th><th>Link URL</th><th>Last Completed</th></tr>
            <tr>
            <form method="post" action="">
                {% for t in tasks %}
                    {% if forloop.counter0|divisibleby:5 %}
                        </form>
                        </tr>
                        <form method="post" action="">
                            {% csrf_token %}
                            <tr><td><button>{{ t }}</button></td>
                    {% else %}
						{% if forloop.counter0|divisibleby:2 %}
							<td><a href='{{ t.value }}' target="_blank">{{ t }}</a></td>
						{% else %}
                        	<td>{{ t }}</td>
						{% endif %}
                    {% endif %}
                {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">No content found. Try logging in.</p>
    {% endif %}
{% endblock %}
